.home
  %header
    %div.itg
      %a(href="/") itg
    %nav
      %ul
        %li dribbble
        %li twitter
        %li contact

  %section
    %h1 Welcome to my mind
    %article
      %h3 January 16, 2012
      %h2 More often than not, I find myself lost.
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...

    %article
      %h3 January 16, 2012
      %h2 More often than not, I find myself lost.
      %p.six
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...
      %p.six
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...

    %article
      %h3 January 16, 2012
      %h2 More often than not, I find myself lost.
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...

    %article
      %h3 January 16, 2012
      %h2 More often than not, I find myself lost.
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...
  %section.bottom

  %footer
    WOO!