%section
  .content
    %h1 Welcome to my mind
    %article
      %h3 January 16, 2012
      %h2 More often than not, I find myself lost.
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...

    %article
      %h3 January 16, 2012
      %h2 More often than not, I find myself lost.
      %p.col-6
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...
      %p.col-6.last
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...

    %article
      %h3 January 16, 2012
      %h2 More often than not, I find myself lost.
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...

    %article
      %h3 January 16, 2012
      %h2 More often than not, I find myself lost.
      %p.col-3
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...
      %p.col-3
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...
      %p.col-3
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...
      %p.col-3.last
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem sapien, tincidunt nec viverra eu, euismod vel orci. Integer quis risus ipsum, ac mattis lectus. Vivamus eros lectus, cursus quis feugiat ac, cursus...