!!! html
%html
  %head
    %title= "YO"
    = stylesheet_link_tag "/stylesheets/screen.css", :media => 'screen'
    = javascript_include_tag "javascripts/less-1.1.3.min.js"
  %body
    %section
      =yield
      