!!! html
%html
  %head
    %meta{ :name => 'viewport', :content => 'width=600px, initial-scale=1.0' }
    %link{"rel" => "stylesheet", "href" => "stylesheets/screen.css", "type" => "text/css"}
    %script{:type => "text/javascript",
        :src  => "http://use.typekit.com/ook7wza.js"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    %header
      %nav
        %ul
          %li.dribble
            %a(href="http://www.dribbble.com/itsthatguy") dribbble
          %li.twitter
            %a(href="http://www.twitter.com/itg") twitter
      %a(href="/")
        %div.itg
    =yield
