- content_for :head do
  title The Middleman!
  == javascript_include_tag 'app'

header

section.wrap
  aside.sidebar
    == partial 'sidebar'
  div.main
  
    h1#not-released (Not Released)
    p Some stuff here
    img src='/images/work/landing-page.png'

    h1#donovan-corneetz Donovan Corneetz
    img src='/images/work/donovan.png'
    img src='/images/work/donovan-mockup.jpg'


    h1#grid-wax Grid Wax
    img src='/images/work/gridwax-wireframe.png'

    h1#madden Madden NFL Football
    img src='/images/work/madden.png'
    img src='/images/work/madden-main-menu.png'
    img src='/images/work/madden-rosters.png'
    img src='/images/work/madden-settings1.png'
    img src='/images/work/madden-settings2.png'

    h1#proximity-marketing Proximity Marketing
    img src='/images/work/proximity.jpg'
    img src='/images/work/proximity-mockup.jpg'
